
.hidden {
    visibility: hidden;
    display: none;
}

    /*posdetail*/

    input[disabled] {
        opacity: .4;
        cursor: default !important;
        pointer-events: none;
    }

    a[disabled] {
        opacity: .4;
        cursor: default !important;
        pointer-events: none;
    }

    .p-bg-gray {
        background-color: #f5f5f5;
    }

    .fix-content-list-product {
        padding-top: 12rem;
        padding-bottom: 12rem !important;
    }

    /*.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffd746;
    display: flex;
    overflow-x: auto;
}*/

    .fix-top {
        position: fixed;
        top: 0;
        width: 100%;
        height: auto;
        box-shadow: 0 0 3px rgb(0 0 0 / 20%);
        background-color: #fff;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        z-index: 1;
    }

    .fix-top-desc {
        position: fixed;
        top: 68px;
        width: 100%;
        height: auto;
        box-shadow: 0 0 3px rgb(0 0 0 / 20%);
        background-color: #fff;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        z-index: 1;
    }

    .fix-bottom-detail {
        position: fixed;
        bottom: 2.9rem;
        width: 100%;
        height: auto;
        display: flex;
        overflow-x: hidden;
        overflow-y: hidden;
        z-index: 1;
    }

    .fix-bottom-detail-botton {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: auto;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        z-index: 1;
    }

    /*end posdetail*/


    .fix-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: auto;
        box-shadow: 0 0 3px rgb(0 0 0 / 20%);
        background-color: #ffd746;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        z-index: 1;
    }

    .fix-bottom-MenuReport {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: auto;
        box-shadow: 0 0 3px rgb(0 0 0 / 20%);
        background-color: #ffd746;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        z-index: 1;
    }

    .w-100_h-auto {
        width: 100%;
        height: auto;
    }


    /*style table css*/

/*    .content-table {
        border-collapse: collapse !important;
        margin: 25px 0 !important;
        font-size: 0.9em !important;
        min-width: 400px !important;
        border-radius: 5px 5px 0 0 !important;
        overflow: hidden !important;
        box-shadow: 0 0 20px rgba(0,0,0,0.15) !important;
    }

        .content-table thead tr {
            background-color: #009879 !important;
            color: #ffffff !important;
            text-align: left !important;
            font-weight: bold !important;
        }

        .content-table th,
        .content-table td {
            padding: 12px 15px !important;
        }

        .content-table tbody tr {
            border-bottom: 1pc solid #dddddd !important;
        }

            .content-table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3 !important;
            }

            .content-table tbody tr:last-of-type {
                border-bottom: 2px solid #009879 !important;
            }

            .content-table tbody tr.active-row {
                font-weight: bold;
                color: #009879;
            }

        .content-table tbody td:nth-child(2) {
            font-weight: bold;
            color: #009879;
        }*/
