
body.com1 {
    background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
}
body.com2 {
    background-color: white;
    /*background-image: linear-gradient(-225deg, #673AB7 0%, #009688 48%, #3F51B5 100%);*/
    /*background-image: linear-gradient(-225deg, #ffffb3 0%, #3D4E81 48%, #8c8b8b 100%);*/
}
 
/*BEGIN HR STYLE*/
hr.style2 {
    border-top: 3px double #8c8b8b;
}

hr.style5 {
    background-color: #fff;
    border-top: 2px dashed #8c8b8b;
}

hr.style10 {
    border-top: 1px dotted #8c8b8b;
    border-bottom: 1px dotted #fff;
}

hr.style13 {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}


hr.style14 {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
/*END HR STYLE*/


/**/
.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }

.kanit {
    font-family: 'Kanit', serif;
    /* font-size: 14px;*/
    font-weight: normal;
    /*padding: 10px;*/
}

.kanit-m {
    font-family: 'Kanit', serif;
    font-size: 16px;
    font-weight: normal;
    /*padding: 10px;*/
}

/* tammon begin of checkbox style    */
/* The customcheck */
.customcheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .customcheck input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.customcheck:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.customcheck input:checked ~ .checkmark {
    background-color: #02cf32;
    border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.customcheck input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.customcheck .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    f transform: rotate(45deg);
}

/*tammon end of checkbox style    */

/* tammon begin of textbox style    */
.jinput {
    background-color: #ffffb3;
    max-width: 1000px;
}

.jinputB {
    background-color: #fc1bb0;
    max-width: 1000px;
}

.jlayer {
    z-index: -1;
}

/* kanit-regular - latin_thai */
@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Kanit/kanit-v3-latin_thai-regular.eot'); /* IE9 Compat Modes */
    src: local('Kanit Regular'), local('Kanit-Regular'), url('/fonts/Kanit/kanit-v3-latin_thai-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/Kanit/kanit-v3-latin_thai-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/Kanit/kanit-v3-latin_thai-regular.woff') format('woff'), /* Modern Browsers */
    url('/fonts/Kanit/kanit-v3-latin_thai-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/Kanit/kanit-v3-latin_thai-regular.svg#Kanit') format('svg'); /* Legacy iOS */
}
/*BEGIN Set Model show center screen*/
.modal {
    text-align: center;
    padding: 0 !important;
}

.jsize-w1-modal {
    width: auto;
}

.jsize-h1-modal {
    height: auto;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

/* --- top edit --- */
input,
select,
textarea {
    max-width: 100%;
}

input[type="checkbox"] {
    width: 30px;
    height: 20px;
    /*margin-top: 5px;*/
}

 /*Begin Top css*/
.size-button {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
}

.size-button-save {
    padding-left: 85px;
    padding-right: 85px;
    padding-bottom: 12px;
    padding-top: 12px;
    border-radius: 5px;
}

.width-button-ok {
    padding-left: 125px;
    padding-right: 125px;
}

.btn-circle.btn-md {
    width: 55px;
    height: 54px;
    padding: 12px 9px;
    border-radius: 28px;
    font-size: 19px;
    text-align: center;
}

textarea.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: black !important;
    outline: 0;
    box-shadow: 0 0 0 0.4px black !important;
}

 /*End Top css*/