@page "/Order/SO/ORDERLocation/{xlat}/{xlon}"
@using Robot.Data.ML.Shared;
<style>
    #mapId {
        height: 400px;
    }

    .leaflet-popup-content-wrapper {
        font-size: large;
        width: 300px;
    }

</style>

<SpinLoader IsLoading="isLoading">

    <LoadingTemplate>
        <div class="col-12 text-center" style="background-color: transparent; height: 100%; vertical-align: middle;">
            <br /><br />
            <div class="row pt-2">
                <div class="col-10 mx-auto">
                    <label style="color:orange; font-size:x-large;">... รอโหลดสักครู่ ...</label><br /><br /><br /><br />
                    <CircleFade Color="orange" Size="100px" Center="true" />
                    @*<Circle Color="orange" Size="165px" />*@
                </div>
            </div>
        </div>
    </LoadingTemplate>
    <ContentTemplate>
        <div class="row pt-2 px-2">
            <div class="col-md-12 ">
        <div class="row pt-1">
            <div class="col-md-12 text-center">
                <img src="/assets/img/wasco_logo.png" style="height:70px" />
            </div>
        </div>
 
        @if (mapOptions != null) {
                    <div class="row pt-4 px-2">
                <div class="col-md-12" style="border: dashed black;">
                    <Map @ref="mapRef" MapOptions="@mapOptions"></Map>
                </div>
            </div>
        }
            </div>
        </div>

    </ContentTemplate>
</SpinLoader>

@code {
    [Parameter] public string xlat { get; set; }
    [Parameter] public string xlon { get; set; }

    [Inject] private IMarkerFactory MarkerFactory { get; init; }
    bool isLoading = false;
    double lat;
    double lon;
    string lang;
    string text_last_update = "";
    string text_pm_info = "";
    string text_moreinfo = "";
    private bool firstRender = true;
    private Marker stationMarker;
    private Map mapRef;
    private LatLng StationMarkerLatLng;
    private MapOptions mapOptions;
    GeoThaiLand geo_thailand;
    protected override async Task OnInitializedAsync() {
        await GetLocationInfo();
    }
    private async Task GetLocationInfo() {
        try {
            isLoading = true;
            StateHasChanged();
            lat = Convert.ToDouble(xlat.Replace("_", "."));
            lon = Convert.ToDouble(xlon.Replace("_", "."));
           // GeoThaiLand geo_thailand = await Task.Run(() => _soService.GetGeoThailand(_soService.DocSet.Head.Lat, _soService.DocSet.Head.Lon));
            
            await LoadMap();
        } catch (Exception) {
        } finally {
            isLoading = false;
            StateHasChanged();
        }

    }
    private async Task LoadMap() {
        mapOptions = new MapOptions() {
                DivId = "mapId",
                Center = new LatLng(lat, lon),
                Zoom = 16,
                UrlTileLayer = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                SubOptions = new MapSubOptions() {
                    Attribution = "&copy; <a lhref='http://www.openstreetmap.org/copyright'>OpenStreetMap</a>",
                    TileSize = 512,
                    ZoomOffset = -1,
                    MaxZoom = 19,
                }
            };
        AddMarkers();
    }
    protected async Task AddMarkers() {
        await Task.Delay(1500);
        if (geo_thailand != null) {
            return;
        }
        string popup_message = $"สถานะที่เปิดออเดอร์ {geo_thailand.pname}->{geo_thailand.aname}->{geo_thailand.tname} ";
       
        if (mapRef != null) {
            StationMarkerLatLng = new LatLng(lat, lon);
            stationMarker = await MarkerFactory.CreateAndAddToMap(StationMarkerLatLng, mapRef);
          
                stationMarker.BindPopup(popup_message);
                stationMarker.TogglePopup();
          

            StateHasChanged();
        }


    }
}
