

<div id="components-reconnect-modal" class="components-reconnect-hide">

    <div class="show">
        <div class="myDialog">
            @*     <div class="components-reconnect-top">
            <div class="oi oi-warning p10"></div> <h5>หลุดการเชื่อมต่อกับเซิฟเวอร์</h5>
            </div>*@
            <div class="components-reconnect-bottom">
                   <a href="javascript:window.location.reload()" style=" text-decoration: none;color:black">
                              <div style="text-align :center" >
                    <img src="/assets/img/hourglass.png" style="width: 180px;" /><br /> 
                                   </div>
                        <div style="text-align:center">
                            <span style="font-size:xx-large ;">System stanby. </span><br>   <span style="color:black ;">Click to continue.</span>
                        </div> 
                </a>
            </div>
        </div>

    </div>
    <div class="failed">
        <div class="myDialog">
            @*    <div class="components-reconnect-top">
            div class="oi oi-wrench p10"></div> <h5>หลุดการเชื่อมต่อกับเซิฟเวอร์</h5>
            </div>    *@
            <div class="components-reconnect-bottom">
                  <a href="javascript:window.location.reload()" style=" text-decoration: none;color:black">
                              <div style="text-align :center" >
                    <img src="/assets/img/hourglass.png" style="width: 180px;" /><br /> 
                                   </div>
                        <div style="text-align:center">
                            <span style="font-size:xx-large ;">System stanby. </span><br>   <span style="color:black ;">Click to continue.</span>
                        </div> 
                </a>
            </div>
        </div>

        <div class="rejected">
            <div class="myDialog">
                @*     <div class="components-reconnect-top">
                <div class="oi oi-ban p10"></div> <h5>Connection rejected</h5>
                </div> *@
                <div class="components-reconnect-bottom">
                       <a href="javascript:window.location.reload()" style=" text-decoration: none;color:black">
                              <div style="text-align :center" >
                    <img src="/assets/img/hourglass.png" style="width: 180px;" /><br /> 
                                   </div>
                        <div style="text-align:center">
                            <span style="font-size:xx-large ;">System stanby. </span><br>   <span style="color:black ;">Click to continue.</span>
                        </div> 
                </a>
                </div>
            </div>
        </div>
    </div>
    </div>

