@page "/ApiMaster/Y"
@layout PublicLayoutApiDoc
<h3>Xrazor</h3>

<TelerikTileLayout 
                               RowHeight="145px"
                               ColumnWidth="350px"
                               RowSpacing="1em"
                               ColumnSpacing="1em"
                               Columns="5"
                               Reorderable="true"
                               Resizable="true" >
    <TileLayoutItems>
        <TileLayoutItem HeaderText="Panel 1" RowSpan="1" ColSpan="2">
            <Content>Regular sized first panel.</Content>
        </TileLayoutItem>
      <TileLayoutItem HeaderText="Panel 2"  RowSpan="2" ColSpan="5">
            <Content>Regular sized first panel.</Content>
        </TileLayoutItem>
    </TileLayoutItems>
</TelerikTileLayout>

@code {
    

}
